<table *ngIf="meeting" class="table">
    <thead>
    <tr *ngIf="meeting.voting_ministers.length > 0">
        <th class="text-right">
            שרים שחשפו את הצבעותיהם
        </th>
    </tr>
    </thead>
    <tr>
        <td>
            <div *ngFor="let minister of meeting.voting_ministers" class="minister-photo">
            <a routerLink='/minister/{{minister.id}}'>
                <img src="{{ minister.photo_url }}" style="width: 75px; height: 110px">
                {{ minister.name }}
            </a>
            </div>        
        </td>
    </tr>
</table>

<table *ngIf="meeting" class="table">
    <thead>
    <tr *ngIf="meeting.non_voting_ministers.length > 0">
        <th class="text-right">
            שרים שלא חשפו את הצבעותיהם
        </th>
    </tr>
    </thead>
    <tr>
        <td>
            <div *ngFor="let minister of meeting.non_voting_ministers" class="minister-photo disabled">
                <a routerLink='/minister/{{minister.id}}'>
                <img src="{{ minister.photo_url }}" style="width: 75px; height: 110px">
                {{ minister.name }}
            </a>
            </div>
        </td>
    </tr>
</table>
<table *ngIf="meeting" class="table">
    <thead>
    <tr *ngIf="meeting.missing_ministers.length > 0">
        <th class="text-right">
            שרים שנעדרו מהישיבה
        </th>

    </tr>
    </thead>
    <tr *ngIf="meeting.missing_ministers.length > 0">
        <td>
            <div *ngFor="let minister of meeting.missing_ministers" class="minister-photo missing">
                <a routerLink='/minister/{{minister.id}}'>
                <img src="{{ minister.photo_url }}" style="width: 75px; height: 110px">
                {{ minister.name }}
                </a>
            </div>
        </td>
    </tr>

    <tr *ngIf="showPlusButton==true">
        <td>
            <div class="pull-left">
                <a routerLink='/meetings/' class="btn btn-primary pull-left" role="button">
                    לישיבות נוספות
                    <span class="fa fa-plus"></span>
                </a>
            </div>
        </td>
    </tr>
</table>